<div class="jumbotron">
    <h1>Eat-Da-Burger</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Burgers that are ready</h4>
            {{#each burgers}}
            {{#unless this.devoured}}
            <p>{{this.NAME}}</p>
            <button class="updateBurger btn btn-dark" data-id={{this.id}}>Devour it!</button>
            {{/unless}}
            {{/each}}
        </div>


        <div class="col-md-4">
            <h2>Place order</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="burgerName">Burger Name:</label>
                    <input type="text" id="burgerName">
                </div>

                {{!-- <div class="form-group">
                    <label for="burger">Devoured?</label><br>
                    <input type="radio" name="devoured" value="1" checked> Eaten!<br>
                    <input type="radio" name="devoured" value="0">
                </div> --}}

                <button class="addBurger btn btn-secondary" type="submit">submit</button>
            </form>

        </div>


        <div class="col-md-4 burger-list">
            <h4>Burgers that have been devoured</h4>
            {{#each burgers}}
            {{#if this.devoured}}
            <p>{{this.NAME}}</p>
            <button class="deleteBurger btn btn-dark" data-id={{this.id}}>Delete</button>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>